.givenTiles-rack {
  background-color: brown;

}

.tile {
  background-color: #E5B463;
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
  font-size: 72px;
  text-align: center;
}
